<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pushtemplates">

    <application>
        <activity android:name=".PushActivity" android:theme="@style/Theme.AppCompat.Transparent.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="app"
                    android:host="clevertaplugin"/>
            </intent-filter>
        </activity>


        <service android:name=".pushtemplate_service"/>


    </application>

</manifest>